.about {
  margin: 1.5em auto 0 auto;
  width: 64rem;  
  background-color: var(--dark-gray);
  padding: 0.5em 1.5em;
}

.introductionContainer {
  width: 35em;
  height: 5em;
  background: var(--black);
  display: flex;
  margin: 6em auto 0 auto;
  justify-content: center;
  align-items: center;
}

.introduction h2 {
  color: var(--white);
  font-family: var(--font-family);
  font-size: 2em;
  width: 9em;
  background: var(--black);
  overflow: hidden;
  border-right: 0.15em solid var(--white);
  white-space: nowrap;
  margin: 1em auto;
  letter-spacing: 0.177em;
  animation: typing 2s steps(13, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 9em;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--white);
  }
}
