.projets {
  margin-top: 6em;
}

.projectsContainer {
  display: flex;
  width: 90vw;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 45em;
  justify-content: space-around;
}

.titleContainer {
  width: 35em;
  height: 5em;
  background: var(--black);
  display: flex;
  margin: 0 auto 1.5em auto;
  justify-content: center;
  align-items: center;
}

.projectsTitle {
  color: var(--white);
  font-family: var(--font-family);
  font-size: 2em;
  background: var(--black);
  margin: 1em auto;
  letter-spacing: 0.177em;
}