@import "../../Fonts.css";

.flipCard {
  background-color: transparent;
  height: 20em;
  perspective: 1000px;
  position: relative;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
  width: 30em;
  margin: 0 5em;
}

.flipCardInner {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  backface-visibility: hidden;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
}

.flipCardBack {
  background-color: var(--light-gray);
  direction: rtl;
  justify-content: space-around;
  unicode-bidi: bidi-override;
  transform: rotateY(180deg);
}