@import "../../Fonts.css";

.form {
  color: var(--lighter-gray);
  background-color: var(--dark-gray);
  padding: 0.5em 1.5em;
  margin: 1.5em auto;
  width: 64rem;
  height: 30em;
}

label {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
  font-family: var(--font-family);
  font-size: 1.5em;
  font-weight: 700;
}

.coordonnees {
  display: flex;
  justify-content: space-between;
}

.coordonnees label {
  width: 30rem;
}

.coordonnees input {
  font-size: 0.8em;
}

.message input {
  height: 14em;
  font-size: 0.8em;
  vertical-align: top;
}